*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#firstsection{
    width: 100%;
    height: 100vh;
    background-image: url(./images/pexels-s-migaj-747964.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    background-color: aquamarine;
    color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    opacity: 0.7;
}
h1{
    font-size: 40px;
    font-family: Verdana;
    margin-left: 80px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header li{
    display: inline-block;

}
.header li:hover a{
    background-color: pink;
    color: blueviolet;
}
.header li a:active{
    color: black;
}
.header li a{
    text-decoration: none;
    margin: 10px;
    padding: 17px;
    font-size: 20px;
}
.content{
    width: 300px;
    height: 350px;
    border: 3px solid green;
    color: rosybrown;
    margin-top: 210px;
    margin-left: 50px;
     border-radius: 40px ;
     padding: 20px;  
}
.content h3{
    font-size: 50px;
    color: blueviolet;
}
.content p{
    font-size: 20px;
    font-style: italic;
}
 #secondsection{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    
}
.fp,.sp,.tp{
    width: 30%;
    height: 220px;
    border: 3px solid royalblue;
    margin: 20px;
    padding: 30px;
    float: left;
    border-radius: 50px;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-align: justify;
}
h3{
    font-size: 30px;
    margin-left: 40px;
}
.fi{
    float: left;
    margin: 20px;
    width: 30%;   
}
.fi img{
    width: 100%;
    height: 420px;
    opacity: 1;
    padding: 15px;
    border: 3px dotted violet;
    border-radius: 20px;
}
.ss{
    text-align: center;
    color: peru;
    font-size: 25px;
    font-style: italic;
}
#thirdsection{
    width: 100%;
    height: 100vh;
    background-color:skyblue;
}
.si{
    float: left;
    margin: 10px;
    width: 25%;   
}
.si img{
    width: 100%;
    height: 400px;
    opacity: 1;
    padding: 10px; 
}
h4{
    margin-left: 40px;
    font-size: 30px;
    padding-top: 30px;
}
.ppp{
    font-size: 20px;
    color: chocolate;
    font-family: verdana;
    font-style: italic;
    /* margin-top: 10px; */
    padding: 10px;
    overflow: hidden;
}
.ppp strong{
    font-size: 40px;
}
.ff{
    background-color: grey;
    display: flex;
    height: 200px;
}
.a{
    float: left;
    margin: 10px;
    width: 25%;
}
.ff i{
    text-align: center;
    padding: 5px;
    margin-left: 50px;
    
}
.ff p{
    padding: 10px;
}
h2{
    font-size: 30px;
    font-family: verdana;
    letter-spacing: 5px;
    color: black;
    font-style: bold;
}
.cp{
    text-align: center;
    letter-spacing: 2px;
    background-color: black;
    color: wheat;
    padding: 5px;
}
@media screen and (max-width:415px) {
        h1{
            margin-left: 20px; 
        }
        .header li a{
         font-size: 15px;
         margin: 0;
         padding: 0;
        }
        .content{
            width: 200px;
            height: 330px;
            margin-left: 10px;
            padding: 10px;  
        }
        .content h3{
            font-size: 30px;  
        }
        .content p{
            font-size: 18px;  
        }
        #firstsection{
            width: 100%;
            height: 100vh;
            background-image: url(./images/pexels-s-migaj-747964.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .fp,.sp,.tp{
            width: 30%;
            height: 220px;
            margin: 3px;
            padding: 5px;
            font-size: 10px;}
        .fi img{
             padding: 5px;
            margin: 3px;}
            .fi{  
            margin: 3px; 
            }
            .si{
                margin: 2px;  
            }        
            .si img{
                
                height: 200px;
                padding: 2px; 
            }
            h4{
                
                font-size: 15px;
                padding-top: 30px;
            }
            .ppp{
                font-size: 11px;
                padding: 5px;
               
            }
            .ppp strong{
                font-size: 20px;
            }
            .ff{
                
                display: flex;
                height: 200px;
            }
            .a{   
                margin: 10px;
                width: 25%;
            }
            .ff i{
                text-align: center;
                padding: 1px;
                margin-left: 2px;
            }
            .ff p{
                padding: 1px;
                font-size: 14px;
            }
            h2{
                font-size: 12px;
                letter-spacing: 3px;}
            .cp{
                margin-top: 0px;
                padding: 7px;  }  
            .ff{     
                display: flex;
                height: 300px; } 
}