body{
    background-image: url(./images/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.heading img{
    width: 90%;
    height: 230px;
    border: 2px solid silver;
    margin-left: 70px;

}
h1{
    color: #49BAB6;
    font-size: 40px;
    margin-left: 20px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
.nav{
    background-color: #636363;
    border: 2px solid  blue ;
    border-radius: 40px;
    display: flex;
    justify-content:space-around ;
}
.nav li:hover{
    transform: scale(2);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    float: left;
    display: block;
    padding: 5px;
    margin-top: 25px;
    margin-left: 80px;
}
ul li a{
    color: #D2B48C;
    text-decoration: none;
    font-size: 20px;
}
ul li:hover a{
    color: #DAA520;
}
ul li a:hover{
    transform: scale(2);
}
.sug{
    border: 2px dotted silver transparent;
    width: fit-content;
    margin: 30px 0px 0px 1px;
    height: 400px;
}
h2{
    font-family: Impact;
    color:#959595;
    font-size: 33px;
    font-style: italic;
}
ol{
    color:#707070;
    font-size: 25px;
}
ol li{
    padding: 10px;
}